svg {
    font-size: 12px;
}

.temperaturePath {
    stroke: #b00000;
    stroke-width: 1;
    fill: none;
}
.temperaturePath.excludedValue {
    stroke-dasharray: 3,3;
}

.temperatureBubble {
    fill: #b00000;
    stroke: #b00000;
    stroke-width: 2;
}

.axis {
    shape-rendering: crispEdges;
}
.x.axis {
    fill: #efefef;
}
.x.axis text {
    display: none;
}
.x.axis line, .y.axis line {
    stroke: #dcdce1;
}
.x.axis path {
    display: none;
}

.y.axis path {
    fill: none;
    stroke: black;
}
.y.axis .tick:nth-child(6) line, .y.axis .tick:nth-child(11) line {
    stroke: black;
}
.y.axis .tick:nth-child(1) text {
    display: none;
}

.x.axis .tick:first-child line, .y.axis .tick:first-child line {
    stroke: black;
}

#coverline {
    stroke: blue;
    stroke-dasharray: 5,5;
}
path.hm-marker {
    stroke: #b00000;
    fill: none;
}
rect.hm-marker {
    fill: #f8dda1;
}
rect.unfruchtbar {
    fill: #e6ffce;
}
text.date, text.time {
    font-family: monospace;
    font-size: 11px;
}

text {
    text-align: right;
}

.mens use, .gv use {
    fill: #b00000;
}

.weekend {
    fill: #ff0000;
}

.tooltip {
    position: absolute;
    z-index: 999;
    visibility: hidden;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 0 0 3px #333;
    padding: 3px 5px;
    border-radius: 4px;
}